{{!-- This will be a form, used for new member and edit existing member --}}
<div class="memberform">
    <fieldset>
        <form action="/members/edit" method="post">
            <fieldset>
                <legend> {{#if id}}
                    Update your profile
                    {{else}}
                    Join Lenda - Community sharing
                    {{/if}}</legend>
                <label for="image">Image: </label>
                <input type="url" name="image_URL" value="{{image_URL}}" id="">
                <br>
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{name}}">
                <br>
                <label for="username">Username:</label>
                <input type="text" name="username" value="{{username}}">
                <br>
                <label for="email">Email:</label>
                <input type="email" name="email" value="{{email}}" id="">
                <br>
                <label for="aboutme">About Me:</label>
                <textarea name="about_me" id="" cols="30" rows="10" value="{{about_me}}"></textarea>
                <br>
                <input type="hidden" name="id" value="{{id}}">
                <button type="submit">
                    {{#if id}}
                    Update
                    {{else}}
                    Join
                    {{/if}}
                </button>
            </fieldset>
        </form>
    </fieldset>
</div>