<h2>Members Listing</h2>

<ul>
    {{#each members}}
    <li> <a href="/members/{{id}}">
            <p> <img src="{{image_URL}}" alt="image of {{username}}" title="image of {{username}}({{name}})" style="max-height: 80px;">
            </p>
            <h4>username: {{username}}</h4>
        </a>
        <p>Name: {{name}}</p>
        <p>About: {{about_me}} <br> <a href="/members/edit/{{id}}">Edit</a></p>
        <br> <br>
    </li>
    {{/each}}
</ul>