<h2>Members Listing</h2>

<ul>
    {{#each members}}
    <li> <a href="/users/{{id}}">
        <img src="{{image_URL}}" alt="image of {{username}}" title="image of {{username}}({{name}})" style="max-height: 80px;">
        <br>
        id: {{id}} username: {{username}}</a> <br>
        Name: {{name}} <br>
        About: {{about_me}} <br>
        <a href="/users/{{id}}/edit">Edit</a> <br> <br>
    </li>
    {{/each}}
</ul>