<h2>Profile for {{username}}</h2>

    
        <img src="{{image_URL}}" alt="image of {{username}}" title="image of {{username}}({{name}})" style="max-height: 150px;">
        <h3>{{name}}  ({{username}})</h3>
        <p>  About: {{about_me}}</p>
        <p><a href="/members/{{id}}/edit">Edit</a></p>
