<h2>Detail for {{listing.title}}</h2>
<p>Category: {{category.name}}</p>

<p>Offerred by {{owner.name}} ( <a href="/members/{{owner.id}}">{{owner.username}}</a> )</p>
<img src="{{listing.image_URL}}" alt="image of {{listing.title}}" title="image of {{listing.title}}" style="max-height: 150px;">
<h3>{{listingstitle}}</h3>
<p>Cost: {{listing.cost_in_cents}}</p>
<p>Description: {{listing.description}}</p>
<p><a href="/listings/{{listing.id}}/edit">Edit</a></p>