<h2>Detail for {{listings.title}}</h2>


<img src="{{listings.image_URL}}" alt="image of {{listings.title}}" title="image of {{listings.title}}" style="max-height: 150px;">
<h3>{{listings.title}}</h3>
<p>Cost: {{listings.cost_in_cents}}</p>
<p>Description: {{listings.description}}</p>
<p><a href="/listings/{{listings.id}}/edit">Edit</a></p>