<h2>Detail for {{title}}</h2>


<img src="{{image_URL}}" alt="image of {{title}}" title="image of {{title}}" style="max-height: 150px;">
<h3>{{title}}</h3>
<p>Cost: {{cost_in_cents}}</p>
<p>Description: {{description}}</p>
<p><a href="/members/{{id}}/edit">Edit</a></p>